input[type=submit] {
	display: block;
	margin: auto;
	width: 200px;
	font-weight: bold;
	font-size: 17px;
	background:#009933;
	color:#fff;
	height:30px;
	border: 1px solid #282828;
}

input[type=submit]:hover {
	background: #006666;
	color: white;
}

input[type=file] {
	background: #006666;
	border: none;
	font-size: 12px;
}

#error_explanation {
	text-align: center;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	background: AntiqueWhite;
	color: red;
	border: 1px solid red;
}

h2 {
	text-align: center;
	color: green;
}

textarea {
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	background: #99CCCC;
	color: black;
}

h3 {
	text-align: center;
	color: #500000;
	a {
		color: green;
	}
}

#comments {
	color: white;
	display: block;
	width: 80%;
	margin-left: 10%;
	small {
		font-size: 12px;
	}
}

#comment {
	display: block;
	margin-bottom: 5px;
	border-bottom: 1px solid #404040;
	padding-left: 10px;
	p {
		padding-top: 5px;
	}
}
